
<div class="container members_container">
  <nav>
    <div class="nav-wrapper #3f51b5 indigo row">
      <div class="col s12">
        <h4 class="brand-logo">Hey {{ name.auth.displayName }}!</h4>
        <ul id="nav-mobile" class="right hide-on-med-and-down" [@fallIn]="state">
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row" id="toolbar">

      <md-card class="" id="login_info" [@moveInLeft]="state">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title><h4 class="center-align">To Reveal the thruths of this world...</h4></md-card-title>
        </md-card-header>
        <div class="center-align">
          <img md-card-image src="assets/images/masonic.gif">
        </div>
        
        <md-card-content>
          <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur est unde nam consequatur, laudantium, illo repellendus illum possimus quisquam saepe deleniti, corrupti neque, voluptates quam ab maxime voluptatibus ducimus fugiat?
          </p>
        </md-card-content>
       
      </md-card>
    
  </div>
</div>