<div class="page_container">
  <div class="container">
    <div class="login_container">
      <div class="graphic_symbol center-align">
        <i class="material-icons">mail</i>
      </div>
      <a class="alc" routerLink="/login" id="goback">Go back</a>
      <h5>Custom Login</h5>

      <p class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</p>

      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

        <md-input-container class="input_container">
          <input mdInput type="text" placeholder="Email" (ngModel)="email" name="email" class="txt" required>
        </md-input-container>
        <md-input-container class="input_container">
          <input mdInput type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>
        </md-input-container>

        <div class="button_container">
          <button md-raised-button class="login_button #00838f cyan darken-3 btn-large" type="submit" [disabled]="!formData.valid">Log in</button>
        </div>

        <p class="create center-align">
          <a routerLink="/signup" class="alc">Don't have an account?</a>
        </p>

      </form>
    </div>
  </div>
</div>